	<h3 class="mt-5">Permissions</h3>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col" style="width: 10%">#ID</th>
				<th scope="col" style="width: 10%"></th>
				<th scope="col" style="width: 20%">Username</th>
				<th scope="col" style="width: 15%">Role</th>
				<th scope="col" style="width: 15%">Subscribed To</th>
				<th scope="col" style="width: 30%">Edit Role</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
					<tr>
						<td scope="row">{{ user.id }}</td>
						<td scope="row">
							<img class="rounded-circle members-list-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
						</td>
						<td>{{ user.username }}</td>
						<td>{{ user.user_role.upper() }}</td>
						<td>
							{% if user.subscribedTo != user.user_role %}
								{{ user.subscribedTo.upper() }}
							{% elif user.subscribedTo == user.user_role %}
								Not subscribed
							{% else %}
								Not subscribed
							{% endif %}
						</td>
						{% if user.user_role == 'admin' %}
							<td>
								<button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#demoteModal-{{user.id}}">Demote to Member</button>
							</td>
						{% elif user.user_role == 'member' %}
							<td>
								<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#promoteModal-{{user.id}}">Promote to Admin</button>
								<button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#demoteModal-{{user.id}}">Demote to Visitor</button>
							</td>
						{% elif user.user_role == 'visitor' %}
							<td>
								<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#promoteModal-{{user.id}}">Promote to Member</button>
							</td>
						{% else %}
							<td colspan="2">
								<p>No clue what to do... user has "{{user.user_role}}" role, contact admins please</p>
							</td>
						{% endif %}

						{% include 'modals/promote_modal.html' %}
						{% include 'modals/demote_modal.html' %}

					</tr>
			
			{% endfor %}
		</tbody>
	</table>


