<article class="media content-section">
	<img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + event.author.image_file) }}">
	<div class="media-body">
    <div class="article-metadata" style="height: 40px;">
      <span style="vertical-align: sub;">
        <a class="mr-2" href="{{ url_for('users.profile', id=event.author.id) }}">{{ event.author.username }}</a>
        <small class="text-muted">Event Date: {{ event.event_date.strftime('%Y-%m-%d') }}</small>
      </span>
      {% if event.author == current_user %}
        <span style="float:right;">
          <a class="btn btn-info btn-sm mt-1 mb-1" href="{{ url_for('events.update_event', event_id=event.id) }}"><span class="fas fa-pencil-alt"></span></a>
          <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteEventModal"><span class="fas fa-trash-alt"></span></button>
        </span>
      {% endif %}
		</div>
		<h2 class="article-title">{{ event.title }}</h2>
    <p class="article-content">{{ event.content }}</p>
    {% include 'modals/delete_event_modal.html' %}
	</div>
</article>
