{% extends "_shared/_layout.html" %}
{% block content %} 

	{% if current_user.is_authenticated %}
		<div class="d-flex flex-row-reverse">
			<a class="btn btn-success btn-sm" style="float: right;" href="#addPost" data-toggle="collapse"><span class="fas fa-plus"></span> Add Post</a>
			<a class="btn btn-success btn-sm mr-1" style="float: right;" href="#addEvent" data-toggle="collapse"><span class="fas fa-plus"></span> Add Event</a>
		</div>
	{% endif %}

	{% include 'add_post.html' %}
	{% include 'add_event.html' %}

<div>
	{% if posts.item or events %}
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Posts</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="false">Events</a>
		</li>
	</ul>
	{% endif %}
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
			{% for post in posts.items %}
				{% include 'post.html' %}
			{% endfor %}
		</div>
		<div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="events-tab">
			{% for event in events %}
				{% include 'event.html' %}
			{% endfor %}
		</div>
	</div>
</div>

	{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
		{% if page_num %}
			{% if posts.page == page_num %}
				<a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
			{% else %}
				<a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
			{% endif %}
		{% else %}
			...
		{% endif %}
	{% endfor %}

{% endblock content %}