{% extends "_shared/_layout.html" %}
{% block content %} 

	<h1>{{title}} Page</h1>
	<h3>All Users</h3>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">#ID</th>
				<th scope="col"></th>
				<th scope="col">Username</th>
				<th scope="col">Email</th>
				<th scope="col">Role</th>
				<th scope="col">Posts</th>
				<th scope="col">Events</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
			<tr>
				<td scope="row">{{ user.id }}</td>
				<td scope="row">
					<img class="rounded-circle members-list-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
				</td>
				<td>{{ user.username }}</td>
				<td>{{ user.email }}</td>
				<td>{{ user.user_role.upper() }}</td>
				<td>{{ user.posts|length }}</td>
				<td>{{ user.events|length }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% include 'edit_role_table.html' %}

{% endblock content %}

{% block sidecontent %}
<div class="content-section">
	<h3>Roles</h3>
		<div class="sidenav">
			<a class="nav-item nav-link btn btn-success btn-sm" href="{{ url_for('roles.new_role') }}">+ Add New Role</a>
		</div>
	<ul class="list-group mt-2">
		{% for role in roles %}
			<li class="list-group-item list-group-item-light">
				<a class="mr-2" href="{{ url_for('roles.role_page', role_id=role.id) }}">{{ role.title }}</a>
			</li>
		{% endfor %}
	</ul>
</div>

{% endblock %}
