
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
  <div class="media-body">
    <div class="article-metadata" style="height: 40px;">
      <span style="vertical-align: sub;">
        <a class="mr-2" href="{{ url_for('users.profile', id=post.author.id) }}">{{ post.author.username }}</a>
        <small class="text-muted">Posted on: {{ post.date_posted.strftime('%Y-%m-%d %H:%M') }}</small>
      </span>
      {% if post.author == current_user %}
        <span style="float:right;">
          <a class="btn btn-info btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}"><span class="fas fa-pencil-alt"></span></a>
          <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal"><span class="fas fa-trash-alt"></span></button>
        </span>
      {% endif %}
    </div>
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    {% if post.code_snippet %}
      <pre class="prettyprint">{{ post.code_snippet }}</pre>
    {% endif %}

    {% for comment in comments %}
      {% if comment.post_id == post.id %}
        {% include 'comments/comment.html' %}
        {% include 'modals/delete_comment_modal.html' %}
      {% endif %}
    {% endfor %}
    
    {% if current_user.is_authenticated %}
      {% include 'comments/write_comment.html' %}
    {% endif %}

    {% include 'modals/delete_post_modal.html' %}
  </div>
</article>
