{% extends "_shared/_layout.html" %}
{% block content %} 

	<div class="content-section">
		<div class="media">
			<img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}"">
			<div class="media-body">
				<h2 class="account-heading">{{ user.username }}</h2>
				<p class="text-secondary">{{ user.email }}</p>

			</div>
			{% if user.username == current_user.username %}
				<span style="float:right;">
					<a class="btn btn-info btn-sm mt-1 mb-1" href="#editUser" data-toggle="collapse"><span class="fas fa-pencil-alt"></span></a>
				</span>	
			{% endif %}
		</div>

		{% include 'edit_user.html' %}

	</div>
	<div>
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Posts</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="false">Events</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
				{% for post in posts %}
					{% include 'post.html' %}
				{% endfor %}
			</div>
			<div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="events-tab">
				{% for event in events %}
					{% include 'event.html' %}
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock content %}