<div>
  <img class="rounded-circle form-control-label mr-2" style="width: 5%; float: left;" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}">
  <form action="{{ url_for('comments.new_comment', post_id=post.id) }}" method="post">
      <input type="hidden" name="path" value="{{ request.path }}"/>
      <textarea name="addComment" rows="1" class="form-control form-control-sm" style="width: 85%; display: inline-block;" placeholder="Write a comment..."></textarea>
      <button type="submit" class="btn btn-info btn-sm" style="width: 8%; float: right;"><span class="fas fa-reply"></span></button>
  </form>
</div>